<link rel="stylesheet" href="https://unpkg.com/flickity@2.0/dist/flickity.min.css">
<script src="https://unpkg.com/flickity@2.0/dist/flickity.pkgd.min.js"></script>

<%= content_for(:navbar_class, "navbar-home") %>
<nav id="cd-vertical-nav">
    <ul style="list-style: none;">
      <li>
        <a href="#section1" data-number="1">
          <span class="cd-dot"></span>
          <span class="cd-label">Intro</span>
        </a>
      </li>
      <li>
        <a href="#section2" data-number="2">
          <span class="cd-dot"></span>
          <span class="cd-label">About</span>
        </a>
      </li>
      <li>
        <a href="#section3" data-number="3">
          <span class="cd-dot"></span>
          <span class="cd-label">Features</span>
        </a>
      </li>
      <li>
        <a href="#section4" data-number="4">
          <span class="cd-dot"></span>
          <span class="cd-label">Portfolio</span>
        </a>
      </li>
      <li>
        <a href="#section5" data-number="5">
          <span class="cd-dot"></span>
          <span class="cd-label">Pricing</span>
        </a>
      </li>
      <li>
        <a href="#section6" data-number="6">
          <span class="cd-dot"></span>
          <span class="cd-label">Contact</span>
        </a>
      </li>
      <li>
        <a href="#section7" data-number="7">
          <span class="cd-dot"></span>
          <span class="cd-label">Articles</span>
        </a>
      </li>
    </ul>
  </nav>
  <a class="cd-nav-trigger cd-img-replace">Open navigation<span></span></a>

  <section id="section1" class="cd-section home1">
    <div class="container justify-content-center">
      <div>
        <img src="../assets/logo.png" alt="logo oma" class="logo-oma-home">
      </div>
      <div class="row text-left">
        <div class="col-12">
          <h1 style="font-size: 100px; font-weight: bold;"> Ōma, Vertical <br> Cinema <br> concept</h1>
        </div>
      </div>
      <div class="row justify-content-center" style="position: absolute; bottom:5vh;">
        <a href="#section2" class="cd-scroll-down"><i class="fas fa-chevron-down fa-3x"></i></a>
      </div>
    </div>
  </section><!-- cd-section -->

  <section id="section2" class="cd-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <i class="fas fa-quote-left fa-7x"></i>
          <h2>Whereas all the cinemas built for more than 50 years now are similar and reproduce the same seating arrangement of the spectators, this concept of movie theater creates a cinematographic experience at the same time intimate, spectacular and immersive, making Ōma unique in the global cinematographic landscape.</h2>
          <h4 id="pchican">Pierre Chican, CEO</h4>
        </div>
      </div>
    </div>
  </section><!-- cd-section -->

  <section id="section3" class="cd-section home4">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="unforget col-12 col-lg-6">
          <h1>AN UNFORGETTABLE EXPERIENCE</h1>
          <p>Much more than just the spectacular nature of the architecture, the original configuration of the room has been designed to offer viewers an exceptional audio and visual experience, projecting an image free of any distortion. Ōma is an experience that you will never forget.</p>
          <a href="/experience"><img src="../assets/croix_grise.png" alt="croix" class="croix_grise"></a>
        </div>
      </div>
    </div>
  </section><!-- cd-section -->

  <section id="section4" class="cd-section">
    <div class="mini-title d-flex flex-column justify-content-center ml-4">
      <h3>Partners</h3>
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <img src="../assets/logo_pathe.png" alt="pathe" class="pathe pr-5">
          <img src="../assets/logo-frenchtech.png" alt="french_tech" class="french-tech pl-5">
        </div>
      </div>
    </div>
  </section><!-- cd-section -->

  <section id="section5" class="cd-section home5">
    <div class="container">
      <a href="/architecture"><img src="../assets/croix_noire.png" alt="croix" class="croix_noire"></a>
      <div class="row">
        <div class="col-lg-6">
        </div>
        <div class="sunset col-12 col-lg-6">
          <h1>AN SPECTACULAR CINEMA THEATER</h1>
          <p>The innovative character of the Ōma cinema is based on a new type of architecture that overturns the relation between the viewer and the image by completely changing the way the seats are placed in front of the screen.</p>
        </div>
      </div>
    </div>
  </section><!-- cd-section -->

  <section id="section6" class="cd-section">
    <div class="mini-title d-flex flex-column justify-content-center ml-4">
      <h3>Team</h3>
    </div>
    <div class="container">
      <div class="row justify-content-center mt-5 pt-5">
        <div class="col-12 col-lg-6 p-5 d-flex align-items-flex-end">
          <div>
            <h1>Pierre Chican, Architect</h1>
            <p style="margin-top:30px">Specialized in the realization of cultural arenas and more particularly of cinemas for more than 20 years now, Pierre Chican designed two of the most successful cinema theaters in France : UGC Les Halles (4.5 million tickets sold in 2016) & UGC Bercy (3 million tickets sold in 2016) in Paris and many others projects in France (Pathé La Valette with the first IMAX laser cinema in France) and abroad.</p>
            <img src="../assets/grand_carre.png" alt="croix" class="grand_carre">
          </div>
        </div>
        <div class="col-12 col-lg-6 p-5 d-flex align-items-flex-end">
          <div>
            <h1>Nicolas Chican, Business Partner</h1>
            <p  style="margin-top:30px">Nicolas Chican has a Master in Science of Management at EM LYON Business School. He majored in Services Marketing and developed strong skills in the entertainment and tourism industry. During his studies, Nicolas worked on a revenue management oriented solution for cinema tickets.</p>
            <img src="../assets/carre_gris.png" alt="croix" class="carre_gris">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="section7" class="cd-section" style="background-color:#191E55 !important">
    <div class="mini-title d-flex flex-column justify-content-center ml-4">
      <h3>Press</h3>
    </div>
      <div class="container flex-column justify-content-center">
        <h1 style="font-weight: 300;">Press releases</h1>
    <div class="row d-flex justify-content-center align-items-center" style=" height: 35%">

          <% @articles.each do |article| %>
            <div class="carousel-cell">
              <%= link_to cl_image_tag(article.source), article_path(article) %>
            </div>
          <% end %>
    </div>
    <h2 class="mr-4 btn btn-danger">
      <a href="/articles">See more</a>
    </h2>
  </div>
  </section><!-- cd-section -->
