<%= content_for(:navbar_class, "navbar-home") %>
<nav id="cd-vertical-nav">
    <ul style="list-style: none;">
      <li>
        <a href="#section1" data-number="1">
          <span class="cd-dot"></span>
          <span class="cd-label">Intro</span>
        </a>
      </li>
      <li>
        <a href="#section2" data-number="2">
          <span class="cd-dot"></span>
          <span class="cd-label">About</span>
        </a>
      </li>
      <li>
        <a href="#section3" data-number="3">
          <span class="cd-dot"></span>
          <span class="cd-label">Features</span>
        </a>
      </li>
      <li>
        <a href="#section4" data-number="4">
          <span class="cd-dot"></span>
          <span class="cd-label">Portfolio</span>
        </a>
      </li>
      <li>
        <a href="#section5" data-number="5">
          <span class="cd-dot"></span>
          <span class="cd-label">Pricing</span>
        </a>
      </li>
      <li>
        <a href="#section6" data-number="6">
          <span class="cd-dot"></span>
          <span class="cd-label">Contact</span>
        </a>
      </li>
    </ul>
  </nav>
  <a class="cd-nav-trigger cd-img-replace">Open navigation<span></span></a>

  <section id="section1" class="cd-section home1">
    <div class="container justify-content-center">
      <div class="row text-left">
        <div class="col-12 titre-home">
          <h1 style="font-size: 70px; font-weight: bold;"> Spectacular, <br> Intimate, <br> Immersive</h1>
        </div>
      </div>
      <div class="row justify-content-center" style="position: absolute; bottom:5vh;">
        <a href="#section2" class="cd-scroll-down"><i class="fas fa-chevron-down bounce-1 fa-2x"></i></a>
      </div>
    </div>
  </section><!-- cd-section -->

  <section id="section2" class="cd-section">
    <div class="container flex-column justify-content-center pt-5">
      <div class="row flex-column pb-5">
        <h1 class="pb-4">Ōma, the next cinema</h1>
        <p>The innovative character of the Ōma cinema is based on a new type of architecture that can be summed up in three major transformations:</p>
      </div>
      <div class="row d-flex justify-content-center pt-5">
        <div class="col-12 col-lg-4">
          <i class="fas fa-bullhorn fa-2x pb-5"></i>
          <h3>Distribution of the seats</h3>
          <p>The spectators are seated on several circular hanging platforms fixed on a sloping metal framework.</p>
        </div>
        <div class="col-12 col-lg-4">
          <i class="fas fa-comments fa-2x pb-5"></i>
          <h3>Original layout</h3>
          <p>As in theater, each platform forms a box with a few rows of seats accessible by two aisles.</p>
        </div>
        <div class="col-12 col-lg-4">
          <i class="fas fa-house-damage fa-2x pb-5"></i>
          <h3>Positioning of the projector booth</h3>
          <p>Ōma architecture integrates the projector in the structure at the back of the platforms, facing the center of the screen in both directions.</p>
        </div>
      </div>
    </div>
  </section><!-- cd-section -->

  <section id="section3" class="cd-section home2">
    <div class="container">
      <div class="row flex-row-reverse">
        <div class="fond-foyer d-flex col-12 col-lg-6">
          <div class="container flex-column justify-content-center">
            <div class="row">
              <div class="foyer-text">
                <h1 class="pb-4">Customization</h1>
                <div class="tiret"></div>
                  <p class="pt-4">The original configuration of this room also gives you the possibility to offer personalized services:</p>
                  <ul>
                    <div class="d-flex">
                      <li class="pb-3 pt-4 d-flex">
                        <div>
                          <i class="fas fa-home fa-2x mr-4"></i>
                        </div>
                        <div>
                          <p>Privatization of entire boxes</p>
                        </div>
                      </li>
                    </div>
                    <div>
                      <li class="pb-3 d-flex">
                        <div>
                          <i class="fas fa-user-friends fa-2x mr-4"></i>
                        </div>
                        <div>
                          <p>Advance booking of seats</p>
                        </div>
                      </li>
                    </div>
                    <div>
                      <li class="pb-3 d-flex">
                        <div>
                         <i class="fas fa-glass-martini fa-2x mr-4"></i>
                        </div>
                        <div>
                          <p>VIP tickets with exclusive access to lounge or bar</p>
                        </div>
                      </li>
                    </div>
                  </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- cd-section -->

  <section id="section4" class="cd-section">
  </section><!-- cd-section -->

  <section id="section5" class="cd-section home3">
    <div class="container">
      <div class="row flex-row">
        <div class="fond-experience d-flex col-12 col-lg-6">
          <div class="container flex-column justify-content-center">
            <div class="row">
              <div class="foyer-text">
                <h1 class="pb-4">EXPERIENCE</h1>
                <div class="tiret"></div>
                  <p class="pt-4">Ōma has been designed to offer viewers an exceptional audio and visual experience</p>
                  <ul>
                    <div class="d-flex">
                      <li class="pb-3 pt-4 d-flex">
                        <div id="sounding" class="fa fa-2x mr-4"></div>
                        <div>
                          <p>Immersive sound System</p>
                        </div>
                      </li>
                    </div>
                    <div>
                      <li class="pb-3 d-flex">
                        <div>
                         <i class="far fa-image fa-2x mr-4"></i>
                        </div>
                        <div>
                          <p>Compatible with any type of digital image quality and sound system</p>
                        </div>
                      </li>
                    </div>
                    <div>
                      <li class="pb-3 d-flex">
                        <div>
                         <i class="far fa-eye fa-2x mr-4"></i>
                        </div>
                        <div>
                          <p>Optimal projection system</p>
                        </div>
                      </li>
                    </div>
                  </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="section6" class="cd-section">
    <div class="container flex-column justify-content-center">
      <div class="row flex-column pb-5">
        <h1 class="pb-4">Comfort</h1>
        <p>You can set up your cinema depending on the degree of comfort you are looking for</p>
      </div>
      <div class="row d-flex justify-content-center pt-5">
        <div class="col-12 col-md-6 col-lg-3">
          <img src="../assets/loge1_site.png" alt="croix" class="loge">
          <div class="loge-description text-left">
            <h3>Exclusive</h3>
            <div class="tiret"></div>
            <p>Box with comfortable leather sofas</p>
            <div class="tiret"></div>
            <p>2 rows of 2 seats</p>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <img src="../assets/loge1_site.png" alt="croix" class="loge">
          <div class="loge-description text-left">
            <h3>Familly</h3>
            <div class="tiret"></div>
            <p>Box with Club armchairs</p>
            <div class="tiret"></div>
            <p>3 rows of 2,2 and 1 seat</p>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <img src="../assets/loge1_site.png" alt="croix" class="loge">
          <div class="loge-description text-left">
            <h3>Comfort</h3>
            <div class="tiret"></div>
            <p>Box with Club armchairs</p>
            <div class="tiret"></div>
            <p>3 rows of 5, 6 and 4 seats</p>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <img src="../assets/loge1_site.png" alt="croix" class="loge">
          <div class="loge-description text-left">
            <h3>VIP</h3>
            <div class="tiret"></div>
            <p>Box with recliner leather sofas</p>
            <div class="tiret"></div>
            <p>2 rows of 3 and 2 seats</p>
          </div>
        </div>
      </div>
    </div>
  </section><!-- cd-section -->


