<%= content_for(:navbar_class, "navbar-home") %>
<ul class="cd-icons-filling js-cd-icons-filling">
    <li class="cd-service cd-service--divider"></li>

    <li class="cd-service cd-service--1 js-cd-service">
      <h2>Web Design</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis pariatur tenetur quod veritatis nulla aspernatur architecto! Fugit, reprehenderit amet deserunt molestiae ut libero facere quasi velit perferendis ullam quis necessitatibus!</p>
    </li> <!-- cd-service -->

    <li class="cd-service cd-service--2 js-cd-service">
      <h2>Responsive Approach</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis pariatur tenetur quod veritatis nulla aspernatur architecto! Fugit, reprehenderit amet deserunt molestiae ut libero facere quasi velit perferendis ullam quis necessitatibus!</p>
    </li> <!-- cd-service -->

    <li class="cd-service cd-service--3 js-cd-service">
      <h2>E-commerce</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis pariatur tenetur quod veritatis nulla aspernatur architecto! Fugit, reprehenderit amet deserunt molestiae ut libero facere quasi velit perferendis ullam quis necessitatibus!</p>
    </li> <!-- cd-service -->

    <li class="cd-service cd-service--4 js-cd-service">
      <h2>CMS Integration</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis pariatur tenetur quod veritatis nulla aspernatur architecto! Fugit, reprehenderit amet deserunt molestiae ut libero facere quasi velit perferendis ullam quis necessitatibus!</p>
    </li> <!-- cd-service -->

    <li class="cd-service cd-service--divider"></li>
  </ul>
