<%= content_for(:navbar_class, "navbar-home") %>
<nav id="cd-vertical-nav">
    <ul style="list-style: none;">
      <li>
        <a href="#section1" data-number="1">
          <span class="cd-dot"></span>
          <span class="cd-label">Intro</span>
        </a>
      </li>
      <li>
        <a href="#section2" data-number="2">
          <span class="cd-dot"></span>
          <span class="cd-label">About</span>
        </a>
      </li>
      <li>
        <a href="#section3" data-number="3">
          <span class="cd-dot"></span>
          <span class="cd-label">Features</span>
        </a>
      </li>
      <li>
        <a href="#section4" data-number="4">
          <span class="cd-dot"></span>
          <span class="cd-label">Portfolio</span>
        </a>
      </li>
      <li>
        <a href="#section5" data-number="5">
          <span class="cd-dot"></span>
          <span class="cd-label">Pricing</span>
        </a>
      </li>
      <li>
        <a href="#section6" data-number="6">
          <span class="cd-dot"></span>
          <span class="cd-label">Contact</span>
        </a>
      </li>
    </ul>
  </nav>
  <a class="cd-nav-trigger cd-img-replace">Open navigation<span></span></a>

  <section id="section1" class="cd-section home1">
    <div class="section">
    <h1>What is Ōma</h1>
    <a href="#section2" class="cd-scroll-down cd-img-replace">scroll down</a>
    </div>
  </section><!-- cd-section -->

  <section id="section2" class="cd-section">
    <div class="section">
    <div class="oma-container">
      <h1>Ōma, the next cinema</h1>
      <div class="block d-flex justify-content-between">
        <div class="block-text">
          <p>The innovative character of the Ōma cinema is based on a new type of architecture that can be summed up in three major transformations:</p>
          <br>
          <h3>Distribution of the seats</h3>
          <br>
          <p>The spectators are seated on several circular hanging platforms fixed on a sloping metal framework.</p>
          <h3>Original layout</h3>
          <br>
          <p>As in theater, each platform forms a box with a few rows of seats accessible by two aisles.</p>
          <h3>Positioning of the projector booth</h3>
          <br>
          <p>Ōma architecture integrates the projector in the structure at the back of the platforms, facing the center of the screen in both directions.</p>
        </div>
        <div class="image-block">
          <img src="../assets/visuelblanc1" alt="visu">
        </div>
      </div>
    </div>
    </div>
  </section><!-- cd-section -->

  <section id="section3" class="cd-section home2">
    <div class="fond-foyer">
    </div>
  </section><!-- cd-section -->

  <section id="section4" class="cd-section">
    <p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto numquam, totam iusto officia earum perferendis, culpa ad atque eveniet praesentium nobis expedita similique beatae tenetur. Distinctio vel tenetur, id cum.&rdquo;</p>
  </section><!-- cd-section -->

  <section id="section5" class="cd-section">
    <p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto numquam, totam iusto officia earum perferendis, culpa ad atque eveniet praesentium nobis expedita similique beatae tenetur. Distinctio vel tenetur, id cum.&rdquo;</p>
  </section><!-- cd-section -->

  <section id="section6" class="cd-section">
    <p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto numquam, totam iusto officia earum perferendis, culpa ad atque eveniet praesentium nobis expedita similique beatae tenetur. Distinctio vel tenetur, id cum.&rdquo;</p>
  </section><!-- cd-section -->

