<%= content_for(:navbar_class, "navbar-home") %>
<nav id="cd-vertical-nav">
    <ul style="list-style: none;">
      <li>
        <a href="#section1" data-number="1">
          <span class="cd-dot"></span>
          <span class="cd-label">Intro</span>
        </a>
      </li>
      <li>
        <a href="#section2" data-number="2">
          <span class="cd-dot"></span>
          <span class="cd-label">About</span>
        </a>
      </li>
      <li>
        <a href="#section3" data-number="3">
          <span class="cd-dot"></span>
          <span class="cd-label">Features</span>
        </a>
      </li>
      <li>
        <a href="#section4" data-number="4">
          <span class="cd-dot"></span>
          <span class="cd-label">Portfolio</span>
        </a>
      </li>
      <li>
        <a href="#section5" data-number="5">
          <span class="cd-dot"></span>
          <span class="cd-label">Pricing</span>
        </a>
      </li>
      <li>
        <a href="#section6" data-number="6">
          <span class="cd-dot"></span>
          <span class="cd-label">Contact</span>
        </a>
      </li>
    </ul>
  </nav>
  <a class="cd-nav-trigger cd-img-replace">Open navigation<span></span></a>

  <section id="section1" class="cd-section home1">
    <div class="container justify-content-center">
      <div class="row justify-content-center">
        <h1>What is Ōma</h1>
        <a href="#section2" class="cd-scroll-down cd-img-replace"><i class="fas fa-chevron-down fa-3x"></i></a>
      </div>
    </div>
  </section><!-- cd-section -->

  <section id="section2" class="cd-section">
    <div class="container flex-column justify-content-center">
      <div class="row flex-column pb-5">
        <h1 class="pb-4">Ōma, the next cinema</h1>
        <p>The innovative character of the Ōma cinema is based on a new type of architecture that can be summed up in three major transformations:</p>
      </div>
      <div class="row d-flex justify-content-center pt-5">
        <div class="col-12 col-lg-4">
          <i class="fas fa-bullhorn fa-3x pb-5"></i>
          <h3>Distribution of the seats</h3>
          <p>The spectators are seated on several circular hanging platforms fixed on a sloping metal framework.</p>
        </div>
        <div class="col-12 col-lg-4">
          <i class="fas fa-comments fa-3x pb-5"></i>
          <h3>Original layout</h3>
          <p>As in theater, each platform forms a box with a few rows of seats accessible by two aisles.</p>
        </div>
        <div class="col-12 col-lg-4">
          <i class="fas fa-house-damage fa-3x pb-5"></i>
          <h3>Positioning of the projector booth</h3>
          <p>Ōma architecture integrates the projector in the structure at the back of the platforms, facing the center of the screen in both directions.</p>
        </div>
      </div>
    </div>
  </section><!-- cd-section -->

  <section id="section3" class="cd-section home2">
    <div class="container">
      <div class="row flex-row-reverse">
        <div class="fond-foyer d-flex col-12 col-lg-6">
          <img src="../assets/etoile.png" alt="etoile" class="etoile">
          <div class="container flex-column justify-content-center">
            <div class="row">
              <div class="foyer-text">
                <h2 class="pb-4">Customization</h2>
                <div class="tiret"></div>
                  <p class="pt-4">The original configuration of this room also gives you the possibility to offer personalized services:</p>
                  <ul>
                    <div class="d-flex">
                      <li class="pb-3 pt-4"><p class="my-auto"><i class="fas fa-home fa-2x"></i>Privatization of entire boxes</p></li>
                    </div>
                    <div>
                      <li class="pb-3"><p><i class="fas fa-user-friends fa-2x"></i>Advance booking of seats</p></li>
                    </div>
                    <div>
                      <li class="pb-3"><p><i class="fas fa-glass-martini fa-2x"></i>VIP tickets with exclusive access to lounge or bar</p></li>
                    </div>
                  </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- cd-section -->

  <section id="section4" class="cd-section">

  </section><!-- cd-section -->

  <section id="section5" class="cd-section home3">
    <div class="container m-0 flex-column p-0">
      <div class="row">
        <div class="petit-carre-bleu col-12 col-lg-3">

        </div>
      <img src="../assets/grand_carre.png" alt="carre" class="grand_carre_star_wars">
      </div>
      <div class="row flex-row-reverse">
        <div class="grand-carre-bleu col-12 col-lg-4">

        </div>
      </div>
    </div>

  </section><!-- cd-section -->

  <section id="section6" class="cd-section">

  </section><!-- cd-section -->

