.fond-article {
  background-image: url("./bustan_salle.png");
  background-size: cover;
  padding: 0px !important;
}

.article-list {
  list-style: none;
  width: 100%;
  font-size: 25px;
  a {
    color: white;
  }
}

.article-list a:hover {
  color: tomato;
}
