.article-page {
  background-color: #F5F6F8 !important;
  margin-bottom: 50px;
}

.article-source {
  background: white;                         /* White background */                            /* Internal space */
  border-radius: 4px;                        /* Small radius */
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

.article-content {
  background: white;                         /* White background */
  padding: 30px;                             /* Internal space */
  border-radius: 4px;                        /* Small radius */
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  p {
    color: #2A303A;
  }
  h1, h3 {
    color: #2A303A;
    padding-bottom: 10px;
  }
  ul {
    padding-left: 0px;
  }
  .tiret {
    border-color: $blue !important;
  }
}

.related-articles {
  color: $blue;
  a {
    color: $blue;
    font-weight: bold;
    font-size: 18px;
  }
  ul {
    padding-left: 25px !important;
  }
}

.article-home {
  color: $blue !important;
  font-weight: bold !important;
}
