.fa-chevron-down {
  color: white;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.bounce-1 {
        animation-name: bounce-1;
        animation-timing-function: linear;
    }

@keyframes bounce-1 {
        0%   { transform: translateY(0); }
        50%  { transform: translateY(-20px); }
        100% { transform: translateY(0); }
    }

@media only screen and (min-width:750px) {
  .fa-chevron-down { position: relative; right: 26vw;}
}

.btn {
  font-size: 1.25rem;
  border: 2px;
  border-radius: 2px;
}

.btn-primary {
  background: linear-gradient(70deg,#ff4c1d,#9b0063);
  color: $blue !important;
}


.btn-info {
  background: linear-gradient(30deg,#9b0063,#ff4c1d);
  a {
    color: $blue;
  }
}


.btn:hover {
  background: linear-gradient(70deg,#9b0063,#ff4c1d);
}



