
.card {
  background: $blue;                         /* White background */
  // padding: 30px;                             /* Internal space */
  border-radius: 4px;                        /* Small radius */
  box-shadow: 0 3px 8px white;
  opacity: 1;
  border:none;
  width: 95%;
  height: 200px;
  color: white;
  .btn-danger {
    width: 40%;
    color: tomato;
    font-size: 1rem !important;
    border-radius: 4px;
  }
}

.card:hover {
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.05); /* Safari 3-8 */
  transform: scale(1.05);
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}



@media(max-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
