.contact-info h3, .contact-info h4  {
  color: white;
}

.contact-info img {
  height: 75px;
  margin-bottom: 50px;
}

.home-contact h1 {
  font-size: 40px;
  font-weight: bold;
}


@media only screen and  (max-width: 576px) {
.name-contact {padding-right: 0px;}
}

@media only screen and  (max-width: 576px) {
.email-contact {padding-left: 0px;}
}

.marker {
  border-radius: 50% 50% 50% 50%;
  border: 4px solid #fff;
  width: 30px;
  height: 30px;
  transform: rotate(-90deg);
}


.marker::after {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin-left: -5px;
  margin-top: -5px;
  background-color: #fff;
}


