.experience3 {
  background-image: url("./400_finale.jpg");
  background-size: cover;
  padding: 0px !important;
}

.experience2 {
  background-image: url("./geode.jpg");
  background-size: cover;
  padding: 0px !important;
}
