.form-post {
  .btn {
    width: 100%;
    padding: 10px;
    font-weight: bold;
  }
  h1 {
    padding-bottom: 30px;
    font-size: 40px;
    font-weight: bold;
  }
}

#message_body {
  height: 200px;
  background-color: transparent;
  color: white;
}

#message_name {
  background-color: transparent;
}

#message_email {
  background-color: transparent;
}

.message_body {
  margin-top: 30px;
}

.form-control-label {
  display: none;
}

.form-control {
  height: 6rem;
  font-size: 20px;
  color: white;
}
