.form-post {
  .btn {
    width: 100%;
    padding: 10px;
    font-weight: bold;
  }
  h1 {
    padding-bottom: 30px;
  }
}

#message_body {
  height: 200px;
  background-color: transparent;
}

#message_name {
  background-color: transparent;
}

#message_email {
  background-color: transparent;
}

.message_body {
  margin-top: 30px;
}
