.form-post {
  .btn {
    width: 15%;
    padding: 10px;
    border-radius: 40px !important;
  }
  h1 {
    padding-bottom: 30px;
    font-size: 40px;
    font-weight: bold;
  }
}

#message_body {
  height: 200px;
  background-color: transparent;
  color: white;
}

#message_name {
  background-color: transparent;
}

#message_email {
  background-color: transparent;
}

.message_body {
  margin-top: 30px;
}

.form-control-label {
  display: none;
}

.form-control {
  height: 3rem;
  font-size: 15px;
  color: $blue;
  border-radius: 40px;
}

.simple_form {
  .btn {
    border-radius: 0px;
  }
}
