.home1 {
  background-image: linear-gradient(rgba(25, 30, 85, 0.5), rgba(255, 255, 0, 0)),
                  url("./vue_interieur.jpg");
  background-size: cover;
  .container {
    flex-direction: column;
  }
}

.home-contact {
  background-color: #191E55 !important;
}

.home2 {
  background-image: url("./foyer_oma.jpg");
  background-size: cover;
  padding: 0px !important;
}

.home3 {
  background-image: url("./vue_interieur_salle.jpg");
  background-size: cover;
  padding: 0px !important;
}

.home4 {
  background-image: url("./fond1.jpg");
  background-size: cover;
  padding: 0px !important;
}

#pchican {
  font-style: italic;
  width: 100%;
  text-align: right;
  padding-top: 20px;
}

.home5 {
  background-image: url("./sunset.jpg");
  background-size: cover;
  padding: 0px !important;
}

.mini-title {
  h3 {
    transform: rotate(-90deg);
  }
}
