.home1 {
  // background-image: image-url("400_finale.jpg");
  background-size: cover;
  .container {
    flex-direction: column;

  }
}

.home-contact {
  background-color: #191E55 !important;
}

.home2 {
  background-image: image-url("foyer_oma.jpg");
  background-size: cover;
  padding: 0px !important;
}

.home3 {
  background-image: image-url("vue_interieur_salle.jpg");
  background-size: cover;
  padding: 0px !important;
}

.home4 {
  background-image: image-url("fond1.jpg");
  background-size: cover;
  padding: 0px !important;
}

#pchican {
  font-style: italic;
  width: 100%;
  text-align: right;
  padding-top: 20px;
}

.home5 {
  background-image: image-url("sunset.jpg");
  background-size: cover;
  padding: 0px !important;
}

.mini-title {
  position: relative;
  h3 {
    transform: rotate(-90deg);
  }
}

.logo-oma-home {
  position: absolute;
  width: 80px;
  top: 4vh;
  right: 4vw;
}

@media only screen and (max-width:768px) {
.titre-home{font-size: 50px;}
}

.team {
  height: 25%;
}

@media only screen and (min-width:800px) {
.pierre-chican{height: 50vh;}
}

@media only screen and (min-width:700px) {
.nicolas-chican{height: 40vh;}
}
