.home1 {
  background-image: linear-gradient(rgba(25, 30, 85, 0.5), rgba(255, 255, 0, 0)),
                  url("./vue_interieur.jpg");
  background-size: cover;
}

.home-contact {
  background-color: #191E55 !important;
}

.home2 {
  background-image: url("./foyer_oma.jpg");
  background-size: cover;
  padding: 0px !important;
}
