.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-home {
  position: absolute;
  width: 100%;
  background: transparent;
  box-shadow: none;
  z-index: 1;
}

.navbar {
  position: absolute;
}

.logo {
  width: 50px;
}

#menuToggle {
  width: 70%;
}

#menu {
  margin: -68px 0 0 -50px !important;
  width: 100vw !important;
  background-color: $blue !important;
  opacity: 1;
  a {
    color: white !important;
    font-size: 60px;
    font-weight: bold;
  }
}
