.block-text {
  text-align: left;
  margin-right: 200px;
}

.oma-container {
  padding: 50px;
}

.oma-container h1 {
  text-align: left;
}

.image-block img {
  height: 500px;
}

.fond-foyer {
  background-color: $blue;
  height: 100vh;
  position: relative;
  margin-right: 0px;
  opacity: 0.8;
}

.fond-foyer li, .fond-foyer p, .fond-foyer h2 {
  color: white;
}

.fond-foyer li {
  list-style: none;
}

.foyer-text {
  text-align: left;
  ul {
    padding-left: 0px;
  }
}
