.section {
  padding-left: 100px;
  padding-right: 100px;
  width: 100vw;
  height: 100vh;
}

.barre-blue {
  background-color: $blue;
  height: 100vh;
  width: 35%;
  position: relative;
  left: 30vw;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.unforget {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 40vw;
  h1 {
    padding-bottom: 30px;
    font-weight: bold;
    font-size: 2rem;
  }
  p {
    font-size: 1.6rem;
  }
}

.sunset {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 40vw;
  color: white;
  text-align: right;
  h1 {
    padding-bottom: 30px;
    font-weight: bold;
    font-size: 2rem;
  }
  p {
    font-size: 1.6rem;
  }
}
