.footer {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0px 50px;
  opacity: 1;
  color: rgba(0,0,0,0.3);
  text-align: center;
}
.footer-links {
  display: flex;
}

.fab {
  padding: 10px;
}

.fa-instagram {
  height: 25px;
}
