.footer {
  display: flex;
  align-items: center;
  height: 60px;
  opacity: 1;
  color: rgba(0,0,0,0.3);
  text-align: center;
}
.footer-links {
  display: flex;
}

.fab {
  padding: 10px;
}

.fa-instagram {
  height: 25px;
}

.fa-quote-left {
  position: relative;
  left: -30px;
  top: -30px;
}
